#root{
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');

.App {
  background-color: white;
}

body {
    display: flex;
    margin: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
  }

.home-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-title{
  padding-bottom: 7rem;
}

#home-card{
  width: 23rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 60px;
  background-color: white;
}

#home-name{
  font-weight: 600;
  font-size: x-large;
}

#home-role{
  padding-top: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
}

#home-arrow{
  padding-top: 10rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.main-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sticky {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 20rem;
  width: 12rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  border-radius: 10px;
}

.toolboxCard{
  background-color: #128fc8;
  box-shadow: 7px 7px #0c6f9c;
}

.skillsCard {
  background-color: #ffe45c;
  box-shadow: 7px 7px #ddc54c;
}

#skillHS{
  margin-right: 4rem;
  padding-bottom: 10rem;
}

#skill1{
  margin-right: 4.84rem;
  padding-bottom: 1.4rem;
}

#skill2{
  margin-right: 5.63rem;
  padding-top: 6rem;
}

#skill3{
  margin-right: 5.2rem;
  padding-top: 2.5rem;
}

#tools1{
  margin-left: 1rem;
  padding-bottom: 10rem;
}

#tools2{
  margin-left: 1rem;
  padding-bottom: 2rem;
}

#tools3{
  margin-left: 1rem;
  padding-top: 9.2rem;
}

.page-title-white{
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  padding-top: 4rem;
}

.page-title-black{
  font-weight: bold;
  font-size: 2.5rem;
  color: black;
  text-align: center;
  padding-top: 2rem;
}

.activityCardwhite{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 15rem;
  width: 15rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 100%;
  background-color: white;
}

.activityCardblack{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 15rem;
  width: 15rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 100%;
  background-color: black;
  color: white;
}

.caption{
  font-size: x-small;
}

.textbox-white{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  padding: 1.5rem;
  width: 20%;
  text-align: center;
  background-color: white;
}

.textbox-black{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  padding: 1.5rem;
  width: 20%;
  text-align: center;
  background-color: black;
  color: white;
}

.textbox-title{
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-style: italic;
}

#intext-skill{
  color: #ddc54c;
}

#intext-tool{
  color: #0c6f9c;
}
