:root {
  --blue: #1e90ff;
  --white: #ffffff; 
}

.App {
  text-align: center;
}

body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white
}

h3 {
  color: red;
}

.blackHeader {
  color: black
}

.skillBox {
  text-align: right;
}

.toolBox {
  text-align: left
}